{% load static %}
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0">
    <meta name="color-scheme" content="light dark">
    <link
            href="{% static 'css/pico.sand.min.css' %}"
            rel="stylesheet">
    <script
            src="{% static 'js/alpine.min.js' %}"
            defer></script>
    <script
            src="{% static 'js/htmx.min.js' %}"
            defer></script>
    <title>Title</title>
</head>
<body class="container">
<header>
    <nav>
        <ul>
            <li><strong><a href="/" rel="home">Depub</a></strong></li>
        </ul>
        <ul>
            <li><a href="/biblioteca/">Biblioteca</a></li>
            <li><a href="/livros/">Adicionar</a></li>
            <li><button class="secondary">Login</button></li>
        </ul>
    </nav>
</header>
<main>

    <h1>Simple AlpineJS counter</h1>
    <div x-data="{ count: 0 }"
    >
        <button x-on:click="count++">
            Increment
        </button>
        <span x-text="count"></span>
    </div>
    <hr>
    <h1>Simple HTMX</h1>
    <div>
        <button
                hx-get="{% url 'base:htmx' %}"
                hx-trigger="click"
                hx-target="#click-test"
                hx-swap="outerHTML"
        >
            Click Me!
        </button>
        <span id="click-test"></span>
    </div>
</main>
</body>
</html>