{% extends 'base/_base.html' %}
{% block content %}
    <h1>Adicione um livro a biblioteca</h1>
    <input
            hx-encoding='multipart/form-data'
            hx-post='{% url 'books:process-epub' %}'
            hx-trigger="change"
            hx-indicator="#loading"
            hx-swap="outerHTML"
            hx-target="#form"
            type="file"
            accept="application/epub+zip, application/epp+xml"

    >
    <span id="loading" class="htmx-indicator" aria-busy="true">
            Processando epub...
    </span>
    <div id="form"></div>


{% endblock content %}
